@model Milestone_CST350.Models.GridModel;
@{
    int buttonNum = 0;
}

@for (int i = 0; i < Model.Size; i++)
{
    <div style="flex-basis:100%; height:auto; margin-top: auto;"></div>
    @for (int x = 0; x < Model.Size; x++)
    {
        <form>
            @if (Model.Grid[i, x].IsVisited)
            {
                if (!Model.Grid[i, x].IsLive)
                {
                    <button style="width: 40px; height: 40px; border: 2px solid black; background-color: darkgray;" type="submit" value="@buttonNum" name="buttonNumber" asp-controller="Home" asp-action="HandleButtonClick" disabled="true">
                        @Model.Grid[i, x].LiveNeighbors
                    </button>
                }
                else
                {
                    <button style="width: 40px; height: 40px; border: 2px solid black; background-color: darkgray;" type="submit" value="@buttonNum" name="buttonNumber" asp-controller="Home" asp-action="HandleButtonClick" disabled="true">
                        <img src="/images/Bomb.jpg" alt="bomb" />
                    </button>
                }
            }
            else
            {
                @if (Model.Grid[i, x].IsFlagged)
                {
                    <button class="grid-button" style="width:40px; height: 40px; border: 2px solid red;" type="submit" value="@buttonNum" name="buttonNumber" asp-controller="Home" asp-action="HandleButtonClick">
                    </button>
                }
                else
                {
                    <button style="width: 40px; height: 40px; border: 2px solid black;" class="grid-button" id="grid-button"  type="button" value="@buttonNum" name="buttonNumber" asp-controller="Home" asp-action="HandleButtonClick">
                    </button>
                }
            }
        </form>
        buttonNum++;
    }
}
