@model Milestone_CST350.Models.MongoUser

@{
    ViewData["Title"] = "LoadGame";
}

<h1>LoadGame</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Difficulty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Boards) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                    <a href="/Home/PlayLoadedGame/@item.Id" class="btn btn-primary">Play Game</a>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
